/* ============== ANIMACIONES Y PSEUDOCLASES ============== */

/* Transiciones suaves */
.nav-one-item, .nav-two-item, .dropdown-item, .footer-link, .social-icon, .navbar-toggler {
    transition: all 0.3s ease-in-out;
}

/* Efectos Hover */
.nav-one-item:hover {
    color: var(--primary-color);
}

.nav-two-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color) !important;
    transform: translateY(-2px);
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--text-color) !important;
    transform: translateX(5px);
}

.social-icon:hover {
    color: var(--secondary-color);
    transform: scale(1.2) rotate(5deg);
}

.footer-brand-link:hover {
    text-decoration: underline !important;
}

.navbar-toggler:hover {
    opacity: 0.8;
}

/* Keyframes */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-title {
    animation: slideInFromLeft 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-footer-bg {
    animation: fadeIn 1s ease-out forwards;
}